* ,
*:before ,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html , body {
  height: 100%;
}
body {
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
  font-family: normal 'Raleway', sans-serif;
}
.center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.container {
  height: 100%;
  padding: 0;
}
.border {
  border: 7px ridge #d44b04;
}
.navi {
  position: fixed;
  top: 0;
  width: inherit;
  height: 2.3125em;
  padding-top: 5px;
  text-align: center;
  background-color: #d44b04;
  z-index: 1;
}
.navi li {
  list-style: none;
  font-size: 1.25em;
  color: white;
  font-weight: 400;
  padding: 5px;
  top: 5px;
  display: inline-block;
}
.navi a {
  color: white;
}
.front-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.header {
  position: absolute;
  margin: auto;
  text-align: center;
  font-size: 2em;
  color: #cf6e40;
  font-weight: 600;
  top: 8%;
  display: block;
  width: 100%;
  border-top: .125em solid #d44b04;
  border-bottom: .125em solid #d44b04;
  padding: 5px;
}
.jared-front {
  height: 28.125%;
  width: 28.125%;
  border: .9375em ridge #d44b04;
}
.shabaz-front {
  position: absolute;
  height: 14.0625%;
  width: 14.0625%;
  border: .625em ridge #d44b04;
  left: 10.6%;
  top: 40%;
  border-right: 0;
}
.hat-front {
  position: absolute;
  height: 14.0625%;
  width: 14.0625%;
  border: .625em ridge #d44b04;
  right: 10.5%;
  top: 40%;
  border-left: 0;
}
.about-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.jared-about {
  height: 18.75em;
  width: 25%;
  position: absolute;
  top: 9.375em;
  left: 37.5%;
}
.about-page p {
  width: 75%;
  position: absolute;
  display: inline-block;
  float: right;
  top: 28.75em;
  left: 12.5%;
  font-size: 1.25em;
  padding: .3125em;
  color: #a25029;
  font-weight: 600;
  text-align: center;
}
.project-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.left-project-img {
  height: 15.625em;
  width: 20%;
  position: absolute;
  left: 0;
  top: 30%;
}
.project-page p {
  text-align: center;
  width: 50%;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  display: inline-block;
  font-size: 2.5em;
  padding: .3125em;
  color: #a25029;
  font-weight: 600;
}
.right-project-img {
  height: 15.625em;
  width: 20%;
  right: 0;
  position: absolute;
  top: 30%;
}
.bottom-project-img {
  height: 12.5em;
  width: 80%;
  position: absolute;
  top: 70%;
  left: 10%;
  right: 10%;
}
.donate-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.donate-page p {
  position: absolute;
  width: 75%;
  left: 10%;
  top: 35%;
  font-size: 2.5em;
  padding: .3125em;
  text-align: center;
  color: #a25029;
  font-weight: 600;
}
.amount-btn {
  position: absolute;
  top: 60%;
  left: 37%;
  font-size: 1.125;
  padding-left: .625em;
}
.amount-btn input {
  margin: 0 .3125;
}
.donate-btn {
  position: absolute;
  height: 1.625em;
  width: 5.75em;
  top: 65%;
  left: 47%;
}
.contact-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.left-column {
  position: absolute;
  left: 10%;
  width: 30%;
  height: 40%;
  top: 40%;
}
.left-column div {
  position: absolute;
  left: 10%;
  right: 10%;
}
.jeff-email {
  top: 10%;
}
.jeff-email p {
  top: 20%;
}
.anna-email {
  top: 40%;
}
.anna-email p {
  top: 50%;
}
.left-column h3 {
  position: absolute;
  font-size: 1.5em;
  color: white;
  text-align: center;
}
.left-column p {
  font-size: .875em;
  text-align: center;
  left: 10%;
  right: 40%;
  padding-top: 10%;
}
.right-column {
  position: absolute;
  top: 40%;
  width: 40%;
  right: 10%;
  height: 60%;
}
.email-form input , label , textarea {
  display: block;
  margin: .3125em 0;
}
.email-form label {
  text-align: center;
}
.email-form input , textarea {
  width: 100%;
}
.email-form textarea {
  height: 12.5em;
}
