* ,
*:before ,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html , body {
  height: 100%;
}
body {
  background-color: black;
}
.center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.container {
  height: 100%;
}
.navi {
  top: 0;
  height: 3%;
  padding-top: 5px;
  text-align: center;
  background-color: white;
}
.navi li {
  list-style: none;
  font-size: 14px;
  color: gray;
  padding: 5px;
  top: 5px;
  display: inline-block;
}
.front-page {
  height: 97%;
  background-color: #f1da45;
  position: relative;
}
.front-page h1 {
  position: absolute;
  text-align: center;
  font-size: 40px;
  color: white;
  top: 20px;
}
.front-page img {
  height: 450px;
  width: 450px;
  border: 4px groove white;
}
.about-page {
  height: 100%;
  background-color: #f1da45;
  position: relative;
}
.about-page h1 {
  position: absolute;
  text-align: center;
  margin: auto;
  font-size: 40px;
  color: white;
  top: 20px;
}
.jared-about {
  height: 300px;
  width: 25%;
  position: absolute;
  top: 300px;
  border: 4px solid white;
}
.about-page p {
  width: 75%;
  position: absolute;
  display: inline-block;
  float: right;
  top: 300px;
  left: 25%;
  border: 3px solid red;
  font-size: 20px;
  padding: 5px;
}
.project-page {
  height: 100%;
  background-color: #f1da45;
  position: relative;
}
.project-page h1 {
  position: absolute;
  text-align: center;
  margin: auto;
  font-size: 40px;
  color: white;
  top: 20px;
}
.left-project-img {
  height: 250px;
  width: 20%;
  position: absolute;
  left: 0;
  top: 30%;
}
.project-page p {
  text-align: center;
  width: 50%;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  display: inline-block;
  font-size: 20px;
  padding: 5px;
}
.right-project-img {
  height: 250px;
  width: 20%;
  right: 0;
  position: absolute;
  top: 30%;
}
.bottom-project-img {
  height: 200px;
  width: 80%;
  position: absolute;
  top: 70%;
  left: 10%;
  right: 10%;
}
.donate-page {
  height: 100%;
  background-color: #f1da45;
  position: relative;
}
.donate-page h1 {
  position: absolute;
  font-size: 40px;
  text-align: center;
  margin: auto;
  color: white;
  top: 20px;
}
.donate-page p {
  position: absolute;
  width: 75%;
  left: 10%;
  top: 30%;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.amount-btn {
  position: absolute;
  bottom: 15%;
  left: 37%;
  font-size: 18px;
  padding-left: 10px;
}
.amount-btn input {
  margin: 0 5px;
}
.donate-btn {
  position: absolute;
  height: 26px;
  width: 92px;
  bottom: 10%;
  left: 47%;
}
.contact-page {
  height: 100%;
  background-color: #f1da45;
  position: relative;
}
.contact-page h1 {
  position: absolute;
  font-size: 40px;
  color: white;
  text-align: center;
}
.left-column {
  position: absolute;
  left: 10%;
  width: 30%;
  height: 40%;
}
.left-column div {
  position: absolute;
  left: 10%;
  right: 10%;
}
.left-column h3 {
  font-size: 24px;
  color: white;
  text-align: center;
}
