* ,
*:before ,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html , body {
  height: 100%;
}
body {
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
  font-family: normal 'Raleway', sans-serif;
}
.center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.container {
  height: 100%;
  padding: 0;
  position: relative;
}
.border {
  border: 7px ridge #d44b04;
}
.navi {
  position: fixed;
  top: 0;
  width: inherit;
  height: 2.3125em;
  padding-top: 5px;
  text-align: center;
  background-color: #d44b04;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .navi {
    width: 100%;
  }
}
@media screen and (max-width: 465px) {
  .navi ul > li {
    font-size: .75em;
  }
}
.navi li {
  list-style: none;
  font-size: 1.25em;
  color: white;
  font-weight: 400;
  padding: 5px;
  top: 5px;
  display: inline-block;
}
.navi a {
  color: white;
}
.front-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.header {
  position: absolute;
  margin: auto;
  text-align: center;
  font-size: 2em;
  color: #cf6e40;
  font-weight: 600;
  top: 2em;
  display: block;
  width: 100%;
  border-top: .125em solid #d44b04;
  border-bottom: .125em solid #d44b04;
  padding: 5px;
}
.jared-front {
  position: absolute;
  left: 32.5%;
  top: 27.5%;
  height: 60%;
  width: 34.1%;
  border: .9375em ridge #d44b04;
}
.shabaz-front {
  position: absolute;
  height: 35%;
  width: 19.2%;
  border: .625em ridge #d44b04;
  left: 13.3%;
  top: 40%;
  border-right: 0;
}
.hat-front {
  position: absolute;
  height: 35%;
  width: 19.2%;
  border: .625em ridge #d44b04;
  right: 14.1%;
  top: 40%;
  border-left: 0;
}
@media screen and (max-width:700px) {
  .shabaz-front ,
  .hat-front {
    display: none;
  }
  .jared-front {
    width: 40%;
    height: auto;
    top: 40%;
    bottom: 30%;
  }
}
.about-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.jared-about {
  height: auto;
  max-height: 200px;
  width: 20%;
  position: absolute;
  top: 25%;
  left: 40%;
}
.about-page p {
  width: 75%;
  position: absolute;
  top: 60%;
  left: 12.5%;
  font-size: .85em;
  padding: .3125em;
  color: #a25029;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 650px) and (min-width:408px) {
  .about-page p {
    top: 50%;
    width: 95%;
    left: 2.5%;
  }
}
@media screen and (max-width: 407px) {
  .about-page p {
    top: 41.5%;
    width: 95%;
    left: 2.5%;
  }
}
@media screen and (max-width:345px) {
  .about-page p {
    font-size: .6em;
  }
}
.project-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.left-project-img {
  height: auto;
  width: 15%;
  position: absolute;
  left: 0;
  top: 30%;
}
.project-page p {
  text-align: center;
  width: 65%;
  position: absolute;
  left: 17.5%;
  right: 17.5%;
  top: 25%;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25em;
  padding: .3125em;
  color: #a25029;
  font-weight: 600;
}
.right-project-img {
  height: auto;
  width: 15%;
  right: 0;
  position: absolute;
  top: 30%;
}
.bottom-project-img {
  height: 15%;
  width: 80%;
  position: absolute;
  bottom: 5%;
  left: 10%;
  right: 10%;
}
@media screen and (max-width: 990px) {
  .left-project-img ,
  .right-project-img ,
  .bottom-project-img {
    width: 15%;
    height: auto;
    bottom: 15%;
    top: 85%;
  }
  .right-project-img {
    right: 5%;
  }
  .bottom-project-img {
    left: 45%;
  }
  .project-page p {
    width: 95%;
    left:2.5%;
    font-size: 1.5em;
  }
}
@media screen and (max-width:512px) {
  .project-page p {
    font-size: .75em;
  }
  .left-project-img ,
  .right-project-img ,
  .bottom-project-img {
    top: 80%;
  }
}
@media screen and (max-height:575px) {
  .project-page p {
    font-size: .6em;
  }
}
.donate-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.donate-page p {
  position: absolute;
  width: 75%;
  left: 10%;
  top: 35%;
  font-size: 1.25em;
  padding: .3125em;
  text-align: center;
  color: #a25029;
  font-weight: 600;
}
.amount-btn {
  position: absolute;
  top: 60%;
  left: 25%;
  font-size: 1.125;
  padding-left: .625em;
}
.amount-btn input {
  margin: 0 .3125;
}
.donate-btn {
  position: absolute;
  height: 1.625em;
  width: 5.75em;
  top: 65%;
  left: 42%;
}
@media screen and (max-width:764px) {
  .donate-page p {
    width: 95%;
    left:2.5%;
    top:20%;
  }
}
@media screen and (max-width:465px) {
  .amount-btn {
    top: 70%;
    left: 15%;
  }
  .donate-btn {
    top: 75%;
    left: 36.5%;
  }
}
@media screen and (max-width:374px) {
  .donate-page p {
    font-size: .75em;
    top: 30%;
  }
}
.contact-page {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
  position: relative;
}
.left-column {
  position: absolute;
  left: 10%;
  width: 30%;
  height: 40%;
  top: 40%;
}
.left-column div {
  position: absolute;
  left: 10%;
  right: 10%;
}
.jeff-email {
  top: 10%;
}
.jeff-email p {
  top: 20%;
}
.anna-email {
  top: 40%;
}
.anna-email p {
  top: 50%;
}
.left-column h3 {
  position: absolute;
  font-size: 1.5em;
  color: white;
  text-align: center;
}
.left-column p {
  font-size: .875em;
  text-align: center;
  left: 10%;
  right: 40%;
  padding-top: 10%;
}
.right-column {
  position: absolute;
  top: 40%;
  width: 40%;
  right: 10%;
  height: 60%;
}
.email-form input , label , textarea {
  display: block;
  margin: .3125em 0;
}
.email-form label {
  text-align: center;
}
.email-form input , textarea {
  width: 100%;
}
.email-form textarea {
  height: 12.5em;
}
@media screen and (max-width: 500px) {
  .left-column div {
    font-size: .75em;
  }
  .left-column p {
    font-size: .6em;
    padding-top: 50%;
  }
}
